/* Custom header background */
.custom-header {
    background-image: url('images/home-background.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px;
    text-align: center;
  }
  
  .custom-header h1 {
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  