<div class="jumbotron jumbotron-fluid on-dark-background">
    <div class="container">
        <h1>From<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Research To<br />Production</h1>

        <p class="lead">An open source deep learning platform that provides a seamless path from research prototyping to
            production deployment.</p>

        <a href="{{ site.baseurl }}/get_started" class="btn btn-lg with-right-arrow" data-cta="get-started">
            Get Started
        </a>
    </div>
</div>