<!-- Start Load Tweets -->

<div id="twitter-widget">
  <a class="twitter-timeline" href="https://twitter.com/gtsam4" data-height="0"
    data-chrome="noheader nofooter noborders transparent noscrollbar" data-link-color="#e44c2c" data-tweet-limit="3"
    data-border-color="#a80000" data-dnt="true">
  </a>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="{{ site.baseurl }}/assets/load-tweets.js"></script>
<script type="text/javascript">twitter.bind();</script>

<!-- End Load Tweets -->