// .post-content h1 {
// 	font-size: 72px
// }

@mixin desktop {
	@media screen and (min-width: 768px) { @content; }
  }
  
.main-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
  
	@include desktop {
	  height: 640px;
	}
  
	&.home-page-background {
	  background-image: url("/assets/images/home-background.jpg");
	}
}  

$mobile_header_height: 68px;
$desktop_header_height: 90px;
$black: #000000;
$white: #ffffff;

@mixin clearfix {
	&:before,
	&:after {
	  content: "";
	  display: table;
	}
	&:after {
	  clear: both;
	}
	& {
	  *zoom: 1;
	}
  }
  
@mixin full-nav-menu-desktop {
	@media screen and (min-width: 1100px) { @content; }
  }
  
.header-holder {
	height: $mobile_header_height;
  
	@include full-nav-menu-desktop {
	  height: $desktop_header_height;
	}
  
	align-items: center;
	display: flex;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
  
	&.blog-header,
	&.blog-detail-header,
	&.resources-header,
	&.get-started-header,
	&.features-header,
	&.ecosystem-header {
	  background-color: $white;
	  border-bottom: 1px solid #e2e2e2;
	}
  }
  
  .header-container {
	position: relative;
	display: flex;
	align-items: center;
	@include clearfix;
  
	@include full-nav-menu-desktop {
	  display: block;
	}
  }
  
  .homepage {

	.main-content-wrapper {
	  @include desktop {
		margin-top: 539px;
	  }
	}
  
	.jumbotron {
	  height: 195px;
	  @include desktop {
	  height: 395px;
	  }
	  .btn {
		margin-top: rem(6px);
	  }
	}
  }  