.site-header {
  border-top: 0px;
}

.main-background {
  top: 0;
  left: 0;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  height: 200px;
  @include desktop {
    height: 200px;
  }

  background-image: url("/assets/images/other-background.jpg");

  &.home-page-background {
    background-image: url("/assets/images/home-background.jpg");
    height: 300px;
    @include desktop {
      height: 300px;
    }
  }
}

.header-holder {
  height: $mobile_header_height;
  @include full-nav-menu-desktop {
    height: $desktop_header_height;
  }

  z-index: 9999;

  &.blog-header,
  &.blog-detail-header,
  &.resources-header,
  &.get-started-header,
  &.features-header,
  &.ecosystem-header {
    background-color: $white;
    border-bottom: 1px solid #e2e2e2;
  }
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  @include clearfix;

  @include full-nav-menu-desktop {
    display: block;
  }
}

.homepage {
  .main-content-wrapper {
    @include desktop {
      margin-top: 539px;
    }
  }
}


.btn,
a.btn {
  border-radius: 0;
  border: none;
  background-color: $light_grey;
  color: $quick_start_grey;
  font-weight: 400;
  position: relative;
  letter-spacing: 0.25px;

  &.btn-lg {
    font-size: 1.125rem;
    padding-top: rem(8px);
  }

  &.btn-white {
    background-color: $white;
  }

  &.btn-orange {
    background-color: $orange;
  }

  &.btn-demo {
    color: $white;
  }
  &.with-right-arrow {
    padding-right: rem(32px);
    padding-left: rem(16px);
    padding-bottom: rem(8px);
    position: relative;
    background-image: url("/assets/images/chevron-right-grey.svg");
    background-size: 6px 13px;
    background-position: top 10px right 11px;
    background-repeat: no-repeat;
    @include desktop {
      background-size: 8px 14px;
      background-position: top 15px right 12px;
      padding-right: rem(32px);
    }
  }
  &.with-left-arrow {
    padding-left: rem(32px);
    padding-right: rem(16px);
    padding-bottom: rem(8px);
    position: relative;
    background-image: url("/assets/images/chevron-left-grey.svg");
    background-size: 6px 13px;
    background-position: top 10px left 11px;
    background-repeat: no-repeat;
    @include desktop {
      background-size: 8px 14px;
      background-position: top 16px left 12px;
      padding-left: rem(32px);
    }
  }

  @include animated_border_hover_state;
}